FTP_SERVER=ftp.shopvivaliz.com.br
FTP_USERNAME=seu_usuario_ftp
FTP_PASSWORD=sua_senha_ftp
FTP_PORT=21
FTP_REMOTE_DIR=/public_html/dev
GITHUB_TOKEN=ghp_substitua_por_um_token_com_repo_read_e_admin_repo_hook
